@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .nav-item{
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }

    .hero-ring{
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
    }

}   

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }


    .container {
        @apply lg:max-w-5xl;
    }

        /* Chrome, Safari and Opera */
        
}

.loader {
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #3d9aff; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 /* Heatmap Container */
.react-calendar-heatmap {
  margin-top: 1rem;
}

/* Month Labels */
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #666; /* Gray color for month labels */
}

/* Heatmap Squares */
.react-calendar-heatmap .color-empty {
  fill: #ebedf0; /* Light gray for no submissions */
}

.react-calendar-heatmap .color-scale-1 {
  fill: #b3e5fc; /* Light sky blue for 1 submission */
}

.react-calendar-heatmap .color-scale-2 {
  fill: #81d4fa; /* Medium sky blue for 2 submissions */
}

.react-calendar-heatmap .color-scale-3 {
  fill: #4fc3f7; /* Teal-blue for 3 submissions */
}

.react-calendar-heatmap .color-scale-4 {
  fill: #26a69a; /* Emerald green for 4+ submissions */
}
